RewriteEngine On
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

<FilesMatch "\.php$">
  <IfModule mod_headers.c>
    SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
  </IfModule>
</FilesMatch>
